.wrapper {
  margin: 30px;
  display: flex;
  width: 450px;
}

.box {
  border: 1px solid lime;
  height: 150px;
  width: 150px;
  background-image: url("../img/dirt.png");

  @extend %setBackgroundStyle;
}
